.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.form,
.quiz {
  height: 70vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: aquamarine;
  color: white;
  width: 37%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
}

.form button,
.options button,
.startBtn {
  display: block;
  margin: 0px auto 5px;
  width: 50%;
  height: 8%;
  border-radius: 5px;
  font-size: medium;
  font-weight: 600;
}

.testBtn:focus {
  border: 2px solid red;
}

.options {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputLabel {
  margin: 0 auto;
  display: flex;
  color: cadetblue;
  font-weight: 600;
  font-size: 1.2em;
  align-items: center;
  justify-content: center
}

.startBtn {
  /* height: inherit; */
  cursor: grabbing;
}

.startLabel {
  width: 100%;
  height: 6vh;
  text-decoration: none;
}

.home {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}